* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.container {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #191919;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}


.container .box {
    position: relative;
    width: 51px;
    height: 51px;
    background-color: #95fe08;
    border-radius: 50%;
}